<div class="container">
 </div>
  <div class="search-bar">
    <%= form_tag properties_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find Real Estate"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

<div class="center-form">
  <form class='filter-form' >
      <div class="Home-searchRangeInput">
        <label class="Title Title--secondarySmCaps Home-searchFieldLabel u-color-textSecondary" for="prop_type">Property Type</label>
          <select class="Home-searchRangeSelect jsPriceSelect" style="border-radius: 28px" id="prop_type" name="prop_type" se:behavior="support_custom_value" data-nochangeonload="">
                <option value="">Any</option>
                <option value="House">House</option>
                <option value="Townhouse">Townhouse</option>
                <option value="Condo">Condo</option>
                <option value="Apartment">Apartment</option>
                <option value="Multifamily">Multifamily</option>
                <option value="Land">Land</option>
          </select>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var type = document.getElementById('prop_type');
              if (localStorage['prop_type']) { // if job is set
                  type.value = localStorage['prop_type']; // set the value
              }
              type.onchange = function () {
                    localStorage['prop_type'] = this.value; // change localStorage on change
                }
            console.log(type.value);
            });
          </script>
      </div>

      <div class="Home-searchRangeInput">
        <label class="Title Title--secondarySmCaps Home-searchFieldLabel u-color-textSecondary" for="price_from">Minimum Price</label>
          <select id="price_from" style="border-radius: 28px" class="Home-searchRangeSelect jsPriceSelect" name="price_from" se:behavior="support_custom_value" data-nochangeonload="">
                <option value="">Any</option>
                <option value="100000">$100,000</option>
                <option value="150000">$150,000</option>
                <option value="200000">$200,000</option>
                <option value="250000">$250,000</option>
                <option value="300000">$300,000</option>
                <option value="400000">$400,000</option>
                <option value="500000">$500,000</option>
                <option value="600000">$600,000</option>
                <option value="700000">$700,000</option>
                <option value="750000">$750,000</option>
                <option value="800000">$800,000</option>
                <option value="900000">$900,000</option>
                <option value="1000000">$1,000,000</option>
                <option value="1250000">$1,250,000</option>
                <option value="1500000">$1,500,000</option>
                <option value="1750000">$1,750,000</option>
                <option value="2000000">$2,000,000</option>
                <option value="2250000">$2,250,000</option>
                <option value="2500000">$2,500,000</option>
                <option value="2750000">$2,750,000</option>
                <option value="3000000">$3,000,000</option>
                <option value="3500000">$3,500,000</option>
                <option value="4000000">$4,000,000</option>
                <option value="4500000">$4,500,000</option>
                <option value="5000000">$5,000,000</option>
                <option value="6000000">$6,000,000</option>
                <option value="7000000">$7,000,000</option>
                <option value="8000000">$8,000,000</option>
                <option value="9000000">$9,000,000</option>
                <option value="10000000">$10,000,000</option>
                <option value="12000000">$12,000,000</option>
                <option value="14000000">$14,000,000</option>
                <option value="16000000">$16,000,000</option>
                <option value="20000000">$20,000,000</option>
                <option value="25000000">$25,000,000</option>
                <option value="30000000">$30,000,000</option>
          </select>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var min_price = document.getElementById('price_from');
              if (localStorage['price_from']) { // if job is set
                  min_price.value = localStorage['price_from']; // set the value

              }
              min_price.onchange = function () {
                    localStorage['price_from'] = this.value; // change localStorage on change
                }
            console.log(min_price.value);
            });
          </script>
      </div>

      <div class="Home-searchRangeInput">
        <label class="Title Title--secondarySmCaps Home-searchFieldLabel u-color-textSecondary" for="price_to">Maximum Price</label>
          <select class="Home-searchRangeSelect jsPriceSelect" style="border-radius: 28px" id="price_to" name="price_to" se:behavior="support_custom_value" data-nochangeonload="">
                <option value="">Any</option>
                <option value="100000">$100,000</option>
                <option value="150000">$150,000</option>
                <option value="200000">$200,000</option>
                <option value="250000">$250,000</option>
                <option value="300000">$300,000</option>
                <option value="400000">$400,000</option>
                <option value="500000">$500,000</option>
                <option value="600000">$600,000</option>
                <option value="700000">$700,000</option>
                <option value="750000">$750,000</option>
                <option value="800000">$800,000</option>
                <option value="900000">$900,000</option>
                <option value="1000000">$1,000,000</option>
                <option value="1250000">$1,250,000</option>
                <option value="1500000">$1,500,000</option>
                <option value="1750000">$1,750,000</option>
                <option value="2000000">$2,000,000</option>
                <option value="2250000">$2,250,000</option>
                <option value="2500000">$2,500,000</option>
                <option value="2750000">$2,750,000</option>
                <option value="3000000">$3,000,000</option>
                <option value="3500000">$3,500,000</option>
                <option value="4000000">$4,000,000</option>
                <option value="4500000">$4,500,000</option>
                <option value="5000000">$5,000,000</option>
                <option value="6000000">$6,000,000</option>
                <option value="7000000">$7,000,000</option>
                <option value="8000000">$8,000,000</option>
                <option value="9000000">$9,000,000</option>
                <option value="10000000">$10,000,000</option>
                <option value="12000000">$12,000,000</option>
                <option value="14000000">$14,000,000</option>
                <option value="16000000">$16,000,000</option>
                <option value="20000000">$20,000,000</option>
                <option value="25000000">$25,000,000</option>
                <option value="30000000">$30,000,000</option>
          </select>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var max_price = document.getElementById('price_to');
              if (localStorage['price_to']) { // if job is set
                  max_price.value = localStorage['price_to']; // set the value
              }
              max_price.onchange = function () {
                    localStorage['price_to'] = this.value; // change localStorage on change
                }
            console.log(max_price.value);
            });
          </script>
      </div>

      <div class="Home-searchRangeInput">
        <label class="Title Title--secondarySmCaps Home-searchFieldLabel u-color-textSecondary" for="min_size">Minimum SQM</label>
          <select class="Home-searchRangeSelect jsPriceSelect" style="border-radius: 28px" id="min_size" name="min_size" se:behavior="support_custom_value" data-nochangeonload="">
                <option value="">Any</option>
                <option value="0">0</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="300">300</option>
                <option value="350">350</option>
                <option value="400">400</option>
                <option value="450">450</option>
                <option value="500">500</option>
                <option value="550">550</option>
                <option value="600">600</option>
          </select>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var min_sqm = document.getElementById('min_size');
              if (localStorage['min_size']) { // if job is set
                  min_sqm.value = localStorage['min_size']; // set the value

              }
              min_sqm.onchange = function () {
                    localStorage['min_size'] = this.value; // change localStorage on change
                }
            console.log(min_sqm.value);
            });
          </script>
      </div>


      <div class="Home-searchRangeInput">
        <label class="Title Title--secondarySmCaps Home-searchFieldLabel u-color-textSecondary" for="min_bed">Minimum Bedrooms</label>
          <select class="Home-searchRangeSelect jsPriceSelect" style="border-radius: 28px" id="min_bed" name="min_bed" se:behavior="support_custom_value" data-nochangeonload="">
                <option value="">Any</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
          </select>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var min_beds = document.getElementById('min_bed');
              if (localStorage['min_bed']) { // if job is set
                  min_beds.value = localStorage['min_bed']; // set the value

              }
              min_beds.onchange = function () {
                    localStorage['min_bed'] = this.value; // change localStorage on change
                }
            console.log(min_beds.value);
            });
          </script>
      </div>

      <div class="Home-searchRangeInput">
        <label class="Title Title--secondarySmCaps Home-searchFieldLabel u-color-textSecondary" for="min_bath">Minimum Bathrooms</label>
          <select class="Home-searchRangeSelect jsPriceSelect" 
    style="border-radius: 28px" id="min_bath" name="min_bath" se:behavior="support_custom_value" data-nochangeonload="">
                <option value="">Any</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
          </select>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var min_baths = document.getElementById('min_bath');
              if (localStorage['min_bath']) { // if job is set
                  min_baths.value = localStorage['min_bath']; // set the value

              }
              min_baths.onchange = function () {
                    localStorage['min_bath'] = this.value; // change localStorage on change
                }
            console.log(min_baths.value);
            });
          </script>
      </div>


      <fieldset class="u-noBorder u-noMargin u-noPadding u-width--full">
        <legend class="Title Title--secondarySmCaps Home-searchFieldLabel u-color-textSecondary">Features</legend>
        <div class="CheckboxGroup Home-searchBedsSelects jsBedsSelection">
              <input id="search_waterfront" name="search_waterfront" class="CheckboxGroup-input jsBedsInput" value=true type="checkbox">
              <label class="CheckboxGroup-label Home-searchBedsLabel" for="search_waterfront">
                <span class="CheckboxGroup-copy">Waterfront</span>
              </label>
              <input id="search_beachfront" name="search_beachfront" class="CheckboxGroup-input jsBedsInput" value=true type="checkbox">
              <label class="CheckboxGroup-label Home-searchBedsLabel" for="search_beachfront">
                <span class="CheckboxGroup-copy">Beachfront</span>
              </label>
              <input id="search_pool" name="search_pool" class="CheckboxGroup-input jsBedsInput" value=true type="checkbox">
              <label class="CheckboxGroup-label Home-searchBedsLabel" for="search_pool">
                <span class="CheckboxGroup-copy">Pool</span>
              </label>
              <input id="search_ac" name="search_ac" class="CheckboxGroup-input jsBedsInput" value=true type="checkbox">
              <label class="CheckboxGroup-label Home-searchBedsLabel" for="search_ac">
                <span class="CheckboxGroup-copy">Air Conditioned</span>
              </label>
              <input id="search_wd" name="search_wd" class="CheckboxGroup-input jsBedsInput" value=true type="checkbox">
              <label class="CheckboxGroup-label Home-searchBedsLabel" for="search_wd">
                <span class="CheckboxGroup-copy">Washer / Dryer</span>
              </label>
        </div>
          
          <%# <script>
            document.addEventListener('DOMContentLoaded', function () {
              var waterfront = document.getElementById('search_waterfront');
              if (localStorage['search_waterfront']) { // if job is set
                  waterfront.value = localStorage['search_waterfront']; // set the value
              }
              waterfront.onchange = function () {
                    localStorage['search_waterfront'] = this.value; // change localStorage on change
                }
            console.log(waterfront.value*-1);
            });
          </script> %>

      </fieldset>
      <%= submit_tag "Filter", class: "btn btn-primary", style:"border-radius: 29px;
    border-color: #70A37F;
    background-image: linear-gradient(#273047, #545f79);
    text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);" %>
  </form>
</div>


<div class="properties-container">
  <div class="row align-items-top">

        <div class="card-container">

        <% @properties.each do |property| %>
          <div class="card">
            <%= link_to property_path(property), style:'text-decoration:none; color:black' do %>
              <div class="card-photo">
                <% if property.photos.any? %>
                  <%= cl_image_tag property.photos.first.key, class: "card-img-top" %>
                <%else%>        
                  <img , class="card-img-top", src="https://source.unsplash.com/random" alt="Card image cap">
                <%end%>
              </div>
              <div class="card-body">
                  <h3 style="text-decoration: none">$ <%= number_with_delimiter(property.price, :delimiter => ',') %></h3>
                  <div class="property-facts-container">
                    <h5 style="text-decoration: none"><%= property.bedrooms %> beds </h5>
                    <h5 style="text-decoration: none">&nbsp;&nbsp;<%= property.bathrooms %> baths </h5>
                    <h5 style="text-decoration: none;">&nbsp;&nbsp;<%= property.sq_meters %> sqm </h5>
                  </div>
                  <div class="property-facts-container">
                    <h6><%= property.address %>,</h6>
                    <h6>&nbsp;&nbsp;<%= property.city %></h6>
                    <h6>&nbsp;&nbsp;<%= property.zip_code %></h6>
                  </div> 
                  <% if property.favorites.where(user:current_user).count > 0 %>
                    <%if policy(Favorite).create? %>
                      <%= link_to "", property_favorites_path(property), method: :post, class:"fas fa-heart heart-button", style:"text-decoration:none; color:red" %>
                    <%end %>
                  <% else %>
                    <%if policy(Favorite).create? %>
                      <%= link_to "", property_favorites_path(property), method: :post, class:"far fa-heart heart-button", style:"text-decoration:none; color:red", remote: true%>
                    <%end %>
                  <% end %>                     
              </div>    
            <%end %>
          </div>
        <% end %>
        <div class="center-form">
          <%= will_paginate(@properties, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-lg shrink')  %>
        </div>
   </div>

    <div class="map-container">

      <div id="map"

        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key = "pk.eyJ1IjoiZGF2aWRsdWdvMTAiLCJhIjoiY2tsMnBycGFvMGI2ajJucDdzeTc1bmg3diJ9.OIpMWRQo9NRtxDnU52PUmQ">
      </div>
    </div>


    </div>
  </div>
</div>


