<h1 style="color:black" class="border-bottom">List Your Property</h1>
<h4 style="display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 29px">Please fill out the entire form for more reach</h4>
<div class="container-user-form">
  <div class= 'divider'>
    <div class='row justify-content-center'>
      <div class="col-6" style="margin: 34px">

        <%= simple_form_for [@property] do |f| %>
        
          <%= f.input :title %>
        
          <%= f.input :price, as: :integer %>
        
          <%= f.input :address %>
      
          <%= f.input :bedrooms %>
          <%= f.input :bathrooms %>

        
          <h3 class="border-bottom"></h3>
        
        
          <%= f.input :sq_meters %>
        
          <%= f.input :sq_meters_land %>
        
          <%= f.input :year_bought %>
        
          <%= f.input :price_bought %>
        
          <%= f.input :sq_meters_added %>
        
          <%= f.input :year_built %>
        
          <%= f.input :year_renovated %>
        
          <h3 class="border-bottom"></h3>
        
          <div class='booleans'>
            <%= f.input :beachfront %>
          
            <%= f.input :waterfront %>
        
            <%= f.input :pool %>
          
            <%= f.input :central_air %>
          
            <%= f.input :dishwasher %>
          
            <%= f.input :washing_machine %>
          
            <%= f.input :attached_garage %>
          </div>
          
          <div ><%= f.submit "Create Property", class:"btn btn-ghost"  %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
