<%= link_to "All the Properties", properties_path, class: 'btn btn-primary btn-sm' %>

<div class="properties-container">
   <div class='row justify-content-center'>
      <div class="col-6">

        <img src="https://source.unsplash.com/random" alt="..." width="300" height="300">

    
          <% if policy(@property).edit? %>
            <h5><%= link_to "Edit Property", edit_property_path(@property) %></h5>
          <% end %>
        
        <h2 class="border-bottom"><%= @property.title %></h2>

        <h3>$ <%= @property.price %></h3>

        <p>Bedrooms: <%= @property.bedrooms %></p>

        <p>Bathrooms: <%= @property.bathrooms %></p>

        <h3 class="border-bottom">Location</h3>
          <p>City: <%= @property.city %></p>
          <p>Address: <%= @property.address %></p>
          <p>Zip Code: <%= @property.zip_code %></p>
          <p>Neighborhood: <%= @property.neighborhood %></p>
          <p>Neighborhood Info: <%= @property.neighborhood_info %></p>

        <h3 class="border-bottom">Terrain and Construction</h3>

          <p>Construction: <%= @property.sq_meters %>m2</p>
          <p>Land Extension: <%= @property.sq_meters_land %>m2</p>

        <h3 class="border-bottom">Amenities</h3>

          <p>Beach Front: 
            <%= text_boolean(@property.beachfront) %>
          </p>
          <p>Water Front: 
            <%= text_boolean(@property.waterfront) %>
          </p>
          <p>Pool: 
            <%= text_boolean(@property.pool) %>
          </p>
          <p>Central Air: 
            <%= text_boolean(@property.waterfront) %>
          </p>
          <p>Dish Washer: 
            <%= text_boolean(@property.dishwasher) %>
          </p>
          <p>Washing Machine: 
            <%= text_boolean(@property.washing_machine) %>
          </p>
          <p>Garage: 
            <%= text_boolean(@property.attached_garage) %>
          </p>

        <h3 class="border-bottom">Tax History</h3>
          <p>tax history link per year</p>

        <h3 class="border-bottom">Additional Information</h3>
          <p>Year Bought: <%= @property.year_bought %></p>
          <p>Price Bought: $<%= @property.price_bought %></p>
          <p>Year Built: <%= @property.year_built %></p>
          <p>Added Construction: <%= @property.sq_meters_added %>m2</p>
          <p>Year Renovated: <%= @property.year_renovated %></p>

        <h3 class="border-bottom">Estimated Price</h3>
          <p>Based on the collection of data, the estimated price of <%= @property.title %> is: $<%= @property.estimated_price %></p>
    </div>
  </div>
</div>


