<%= link_to "All the Properties", properties_path, class: 'btn btn-primary btn-sm' %>

<div class="show-properties-container">
   <div class='row justify-content-center'>
      <div class="col-6">

    
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= cl_image_tag @property.photos.first.key, class: "d-block w-100" %>
              </div>  
            <% @property.photos.each do |photo|%> <%#https://stackoverflow.com/questions/37380953/how-to-iterate-through-an-array-of-images-using-bootstrap-carousel foiund how to iterate through this from this site#%>
              <div class="carousel-item">
                    <%= cl_image_tag photo.key, class: "d-block w-100" %>
              </div>
            <% end %>
         </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>    
 


          <% if policy(@property).edit? %>
            <h5><%= link_to "Edit Property", edit_property_path(@property), class:"btn btn-ghost", style:"margin-top:20px" %></h5>
          <% end %>
          <% if policy(@property).destroy? %>
            <a><%= link_to "Delete Property", property_path(@property), method: "delete", class: "btn btn-ghost", data: { confirm: "Are you sure?" } %> </a>
          <% end %>

           
        
        <h2 class="border-bottom", style="margin-top:20px"><%= @property.title %></h2>

        <h3>$ <%= @property.price %></h3>

        <p>Bedrooms: <%= @property.bedrooms %></p>

        <p>Bathrooms: <%= @property.bathrooms %></p>

        <h3 class="border-bottom", style="margin-top:20px">Location</h3>
          <p>City: <%= @property.city %></p>
          <p>Address: <%= @property.address %></p>
          <p>Zip Code: <%= @property.zip_code %></p>
          <p>Neighborhood: <%= @property.neighborhood %></p>
          <p>Neighborhood Info: <%= @property.neighborhood_info %></p>

        <h3 class="border-bottom", style="margin-top:20px">Terrain and Construction</h3>

          <p>Construction: <%= @property.sq_meters %>m2</p>
          <p>Land Extension: <%= @property.sq_meters_land %>m2</p>

        <h3 class="border-bottom">Amenities</h3>

          <p>Beach Front: 
            <%= text_boolean(@property.beachfront) %>
          </p>
          <p>Water Front: 
            <%= text_boolean(@property.waterfront) %>
          </p>
          <p>Pool: 
            <%= text_boolean(@property.pool) %>
          </p>
          <p>Central Air: 
            <%= text_boolean(@property.waterfront) %>
          </p>
          <p>Dish Washer: 
            <%= text_boolean(@property.dishwasher) %>
          </p>
          <p>Washing Machine: 
            <%= text_boolean(@property.washing_machine) %>
          </p>
          <p>Garage: 
            <%= text_boolean(@property.attached_garage) %>
          </p>

        <h3 class="border-bottom", style="margin-top:20px">Tax History</h3>
          
        <h5><%= link_to "Tax History",  property_tax_histories_path(@property.id), class:"btn btn-ghost", style:"margin-top:20px", 'data-turbolinks': false %></h5>
        

        <h3 class="border-bottom", style="margin-top:20px">Additional Information</h3>
          <p>Year Bought: <%= @property.year_bought %></p>
          <p>Price Bought: $<%= @property.price_bought %></p>
          <p>Year Built: <%= @property.year_built %></p>
          <p>Added Construction: <%= @property.sq_meters_added %>m2</p>
          <p>Year Renovated: <%= @property.year_renovated %></p>

        <h3 class="border-bottom", style="margin-top:20px">Estimated Price</h3>
          <p>Based on the collection of data, the estimated price of <%= @property.title %> is: $<%= @property.estimated_price %></p>
    </div>
  </div>
</div>


