<%= link_to "All the Properties", properties_path, class: 'btn btn-primary btn-sm' %>

<div class="container">
   <div class='row justify-content-center'>
      <div class="col-6">

        <img src="https://source.unsplash.com/random" alt="..." width="300" height="300">

        
        <h5><%= link_to "Edit Property", edit_property_path %></h5>

        <h2 class="border-bottom"><%= @properties.title %></h2>

        <h3>$ <%= @properties.price %></h3>

        <p>Bedrooms: <%= @properties.bedrooms %></p>

        <p>Bathrooms: <%= @properties.bathrooms %></p>

        <h3 class="border-bottom">Location</h3>
          <p>City: <%= @properties.city %></p>
          <p>Address: <%= @properties.address %></p>
          <p>Zip Code: <%= @properties.zip_code %></p>
          <p>Neighborhood: <%= @properties.neighborhood %></p>
          <p>Neighborhood Info: <%= @properties.neighborhood_info %></p>

        <h3 class="border-bottom">Terrain and Construction</h3>

          <p>Construction: <%= @properties.sq_meters %>m2</p>
          <p>Land Extension: <%= @properties.sq_meters_land %>m2</p>

        <h3 class="border-bottom">Amenities</h3>

          <p>Beach Front: 
            <%= text_boolean(@properties.beachfront) %>
          </p>
          <p>Water Front: 
            <%= text_boolean(@properties.waterfront) %>
          </p>
          <p>Pool: 
            <%= text_boolean(@properties.pool) %>
          </p>
          <p>Central Air: 
            <%= text_boolean(@properties.waterfront) %>
          </p>
          <p>Dish Washer: 
            <%= text_boolean(@properties.dishwasher) %>
          </p>
          <p>Washing Machine: 
            <%= text_boolean(@properties.washing_machine) %>
          </p>
          <p>Garage: 
            <%= text_boolean(@properties.attached_garage) %>
          </p>

        <h3 class="border-bottom">Tax History</h3>
          <p>tax history link per year</p>

        <h3 class="border-bottom">Additional Information</h3>
          <p>Year Bought: <%= @properties.year_bought %></p>
          <p>Price Bought: $<%= @properties.price_bought %></p>
          <p>Year Built: <%= @properties.year_built %></p>
          <p>Added Construction: <%= @properties.sq_meters_added %>m2</p>
          <p>Year Renovated: <%= @properties.year_renovated %></p>

        <h3 class="border-bottom">Estimated Price</h3>
          <p>Based on the collection of data, the estimated price of <%= @properties.title %> is: $<%= @properties.estimated_price %></p>
    </div>
  </div>
</div>

<footer>
  <%= link_to "Edit this apartment", edit_property_path, class: 'btn btn-success justify-content-center p-2 width-10' %>
</footer>
