<div class="banner" style="background-image: url(https://res.cloudinary.com/atc5nc/image/upload/v1615904510/LinkEstate/24928-malibu-road-malibu-ca-usa-8-EXT_dihtel.jpg);">
  <div class="flex-container">
    <h1>Using data to help you become a more infomed buyer or seller of your biggest asset</h1>
  </div>

  <div class="search-bar">
    <%= form_tag properties_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find Real Estate"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="guide-container">
  <div class="card" id="buy-sell-card" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">Sell Your Home!</h5>
      <p class="card-text">Whether listing the property yourself or using an agent, we can help you navigate a successful sale.</p>
      <a> <%= link_to "List Your Home", new_property_path, class: 'btn btn-primary' %> </a>
    </div>
  </div>
  <div class="card" id="buy-sell-card" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">Buy A Home!</h5>
      <p class="card-text">Find your place with an immersive photo experience and the most listings, including things you won't find anywhere else.</p>
      <a> <%= link_to "Search Homes", properties_path, class: 'btn btn-primary' %> </a>
    </div>
  </div>  
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Brought to you by the best Le Wagon Crew! <i class="fas fa-heart"></i> 
</div>
