<div class="banner" style="background-image: url(https://res.cloudinary.com/atc5nc/image/upload/v1615904510/LinkEstate/24928-malibu-road-malibu-ca-usa-8-EXT_dihtel.jpg);">
  <div class="flex-container">
  <h2>LinkEstate</h2>
    <p>Using <strong>data</strong> to help you become a more <strong>infomed buyer</strong> or seller of your biggest asset!</p>
  </div>

  <div class="search-bar">
    <%= form_tag properties_path, method: :get, 'data-turbolinks': false do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find Real Estate"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="guide-container">
  <%= link_to new_property_path do %>

    <div class="card text-center" id="buy-sell-card" style="width: 36rem;">
    <img class="card-img-top" src="https://res.cloudinary.com/atc5nc/image/upload/v1615909148/LinkEstate/home-sale-in-spring-e1486493774727_tui7pf.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sell Your Home!</h5>
        <p class="card-text">Whether listing the property yourself or using an agent, we can help you navigate a successful sale.</p>
      </div>
    </div>      
  <% end %>

  <%= link_to properties_path do %> 

    <div class="card text-center" id="buy-sell-card" style="width: 36rem">
    <img class="card-img-top" src="https://res.cloudinary.com/atc5nc/image/upload/v1615909175/LinkEstate/house-sold-sign-drawing-photo-white-custom-real-estate-combination-50582610_jwvdbt.jpg" alt="Card image cap">
      <div class="card-body" style="text-decoration: none">
        <h5 class="card-title">Buy A Home!</h5>
        <p class="card-text">Find your place with an immersive photo experience and the most listings, including things you won't find anywhere else.</p>
      </div>
    </div>  

  <% end %>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Brought to you by the best Le Wagon Crew! <i class="fas fa-heart"></i> 
</div>
