<!DOCTYPE html>
<html>
  <head>
    <title>LinkEstate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="linkestate:title" content=" Real Estate - Browse, Rent, Buy, Invest ">
    <meta name="linkestate:description" content=" Offering data for accurate choices.">
    <meta name="linkestate:image" content="https://res.cloudinary.com/atc5nc/image/upload/v1615909148/LinkEstate/home-sale-in-spring-e1486493774727_tui7pf.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
